html,body{
    padding: 0;
    margin:0;
}
.header{
    background-color: #1F2937;
    color: white;
    font-family: Roboto;
    padding: 5px;
    margin: 0px;

}
.nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:50px;

}
.leftlinks{
    display:flex;
    justify-content: space-around;
    /* here without the gap theres only one other mehod to make this which is to 
    use margins on each child element */
    gap: 20px;
    color: #e5e7eb;
}
.logo{
    font-size: 24px;
    font-weight:900;
}
.leftlinks{
    font-size: 18px;
    
}

.mid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    

}
.left{
    max-width: 50%;
}
.right{
    max-width: 45%;
}
.img{
    max-height: 500px;
}
.heading{
    font-size: 48px;
    font-weight: 900;
}
.left{
    font-size: 18px;
    color: #e5e7eb;
    
}
/* add margin to the left children */
.left *{
    margin-bottom: 10px;
}
button{
    background-color:#3882F6 ;
    color: white;
    border:none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;

}
.random{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 89%;
    text-align: center;
    font-size: 32px;
    color: #131922;
    font-weight: 750;
}
.b{
    height:70px;
    width:70px;
    border: 3px solid #3882f6;
    border-radius: 15%;
}
.box1{
    margin-top: 100px;
    display:flex;
    justify-content: center;
    gap:20px;
}
.quote-box{
    padding:100px;
    margin-top: 100px;
    background-color: #e5e7eb;
}
.quote{
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-display: light;
    color: #1F2937;
}
.name{
    text-align: right;
    font-weight: bold;
    font-size: 28px;
}
